.hed{
    padding-right: 300px;
}
hr{
    border-style: dotted none none;
    width: 15%;
    border-width: 5px;
    color: darkgrey;
}
header{

    padding-left: 300px;
}
.href{
    color: peru;
}
body{
    margin: auto;
    background-image: url(back.jpg);
}
h1{
    color: whitesmoke;
    margin: auto;
}
ul li{
    color: peru;
}
p{
    color: whitesmoke;
}
.img-r{
    float: right;
}
.img-l{
    float: left;
}
nav{
    float: right;
    padding: 5px;
}
footer{
    background-color: white;
}
h3{
    color: whitesmoke;
}
tr{
    color: peru;
}
li{
    color: whitesmoke;
}
.D{
    color: blue;
}
.sbody{
padding-left: 12px;
padding-right: 12px;

}
.Bbody{
    width: 1000px;
    margin: auto;
    background-color: lightslategray;
}

