hr{
    border-style: dotted none none;
    width: 15%;
    border-width: 5px;
    color: darkgrey;
}
header{
    width: 900px;
    padding-left: 300px;
}
.href{
    color: peru;
}
body{
    background-color: #485555;
    margin: auto;
}
h1{
    color: whitesmoke;
}
ul li{
    color: peru;
}
p{
    color: whitesmoke;
}
.img-r{
    float: right;
}
.img-l{
    float: left;
}
nav{
    float: right;
    padding: 5px;
}
footer{
    background-color: whitesmoke;
}
h3{
    color: whitesmoke;
}
tr{
    color: peru;
}
li{
    color: whitesmoke;
}
.D{
    color: blue;
}
.sbody{
    width: 900px;
background-size: 900px;
    padding-left: 300px;
}
.dop{
    width: 290px;
    height: 200px;
    margin: 1px;
    border: solid;
    
}
